{% load static %}
<!-- Footer -->
<section>
<!-- <footer class="page-footer font-small blue"> -->
<footer class="bg-light text-center text-lg-start">

    <!-- <div class="container p-4 pb-0">
            <img src="{% static 'images/ibe-logo-neu.png' %}" height="40" alt="IBE" class="white mr-3">
            <img src="{% static 'images/CCCM Logo_mittig.jpg' %}" height="40" alt="CCCM" class=" mr-3">
            <img src="{% static 'images/dktk.JPG' %}" height="40" alt="DKTK" class=" mr-3">
    </div> -->
    <div class="container p-4">
        <div class="row text-left">
          <div class="col">
            <strong>Dr. Aarif M. N. Batcha</strong><br>
            +49 89 4400 77499 <br>
            nazeer@ibe.med.uni-muenchen.de
          </div>
          <div class="col">
            <strong>Dr. Daniel Nasseh</strong> <br>
            +49 89 4400 77754 <br>
            Daniel.Nasseh@med.uni-muenchen.de
          </div>
          <div class="col">
            <strong>Felix Schwinghammer</strong> <br>
            +49 89 4400 54628 <br>
            felix.schwinghammer@dkfz.de
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-left">
            <a href="https://www.ibe.med.uni-muenchen.de/index.html"><img src="{% static 'images/ibe-logo-neu.png' %}" height="40px" alt="IBE" class="white mr-3"></a>
            <p class="footer_text_p">
                <strong>Institut für medizinische Informationsverarbeitung, Biometrie und Epidemiologie</strong><br>
                Marchioninistr. 15, 81377 München<br>
                Direktor: Prof. Dr. rer. nat. Ulrich Mansmann<br>
                Telefon: +49 (0)89 / 440074490<br>
                Telefax: +49 (0)89 / 440077491<br>
                Email: direktorat@ibe.med.uni-muenchen.de
            </p>
          </div>
    
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-left">
            <a href="http://www.ccc-muenchen.de/de/index.html"><img src="{% static 'images/CCCM Logo_mittig.jpg' %}" height="40px" alt="CCCM" class="mr-3"></a>   
            <p class="footer_text_p">
                <strong>Comprehensive Cancer Center München</strong><br>
                Pettenkoferstraße 8a, 3. Stock, 80336 München<br>
                Zentrumskoordination: Dr. rer.nat. Lisa Koch<br>
                Telefon: +49 (0)89 / 440057430<br>
                Telefax: +49 (0)89 / 440057432<br>
                Email: ccc-muenchen@med.uni-muenchen.de
            </p>
          </div>

          <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-left">
            <a href="https://dktk.dkfz.de/en/sites/muenchen"><img src="{% static 'images/dktk.JPG' %}" height="40px" alt="DKTK" class="mr-3"></a>
            <p class="footer_text_p">
                <strong>Deutsches Konsortium für Translationale Krebsforschung
                    Partnerstandort München<br>Deutsches Krebsforschungszentrum</strong><br>
                Pettenkoferstr. 8a, 80336 München<br>
                Scientific Coordinator: Dipl-Biol Anna Vetter<br>
                Telefon: +49 (0)89 / 440054626<br>
                Email: a.vetter@dkfz.de
            </p>
          </div>

        </div>
    
    </div>

    <!-- <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div> -->
  
</footer>
<!-- Footer -->
</section>
