<form method="post" class="text-center" action="{% url 'analysis_genes_overview_remove' project_pk %}">
    
    {% csrf_token %}
    <!-- Central Modal Small -->
    <div class="modal fade" id="remove_geneanalysis" tabindex="-1" role="dialog" aria-labelledby="remove_geneanalysis_label" aria-hidden="true">

        <!-- Change class .modal-sm to change the size of the modal -->
        <div class="modal-dialog" role="document">


            <div class="modal-content">
                <div class="modal-header text-left">
                    <h4 class="modal-title w-100" id="remove_geneanalysis_label">Delete selected <strong><span id="custom_selected_geneanalysis_count_span"></span> gene analyses</strong> associated with current project</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex align-items-center justify-content-center">

                        <p>Are you sure?</p>


                        <div>
                            <input type="hidden" name="access_type" value="remove">
                            <input type="hidden" class="return_page" name="return_page" value="">
                            <input type="hidden" name="geneanalysis_pks" id="geneanalysis_pks" value=""/>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn custom-button-color2 btn-sm" data-dismiss="modal" id="custom_geneanalysis_cancel_button">Cancel</button>
                        <button type="submit" class="btn custom-button-color1 btn-sm">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Central Modal Small -->
