{% load filters %}

{% include 'ui_new/user/analysis/gene_analysis_remove.html' %}

<table id="geneanalysis_table" class="table table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm"></th>
            <th class="th-sm">pk</th>
            <th class="th-sm" data-tag="tag.specification.name">Specification</th>
            <th class="th-sm" data-tag="tag.specification.result">Result</th>
            <th class="th-sm" data-tag="tag.specification.count">Data Points</th>
            <th class="th-sm" data-tag="tag.sample.projectid">Project Specific ID</th>
            <th class="th-sm" data-tag="tag.sample.patient">Patient</th>
            <th class="th-sm" data-tag="tag.sample.dateofreceipt">Sample</th>
        </tr>
    </thead>
    <tbody>
        {% for geneanalysis in page_obj %}
        <tr>
            <td></td>
            <td>{{geneanalysis.pk}}</td>
            <td>{{geneanalysis.specification|gene_specification_link }}</td>
            <td><a class="btn-link text-primary" href="{% url 'analysis_genes_add_remove' geneanalysis.sample.pk %}?genespec={{geneanalysis.specification_id}}&return=geneanalysis_overview"><u>{{geneanalysis.specification.get_name}}</u></a></td>
            <td>{{geneanalysis.specification.specdpts_specification.count}}</td>
            <td>{{'patient'|set_icons}}<a class="btn-link text-primary" href="{% url 'patient_view_user' geneanalysis.sample.projectid_id %}"><u>{{geneanalysis.sample.projectid.projectid}}</u></a></td>
            <td>{{geneanalysis.sample.projectid.get_name}}</td>
            <td>{{'sample'|set_icons}}<a class="btn-link text-primary" href="{% url 'sample_view_user' geneanalysis.sample_id %}"><u>{{geneanalysis.sample.get_samplename}}</u></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div style="font-size:1.5em;">
    {% if page_obj.has_previous %}
        <a class="btn-link" href="?length={{page_length}}&page={{ page_obj.previous_page_number }}">« Previous page</a>
    
        {% if page_obj.number > 3 %}
        <a class="btn-link" href="?length={{page_length}}&page=1">1</a>
        {% if page_obj.number > 4 %}
            <span>...</span>
        {% endif %}
        {% endif %}
    {% endif %}
    
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="red-text btn-link" style="border: 1px solid grey; padding: 2px" href="?length={{page_length}}&page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn-link" href="?length={{page_length}}&page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
        {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
        <span>...</span>
        <a class="btn-link" href="?length={{page_length}}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
        <a class="btn-link" href="?length={{page_length}}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    
        <a class="btn-link" href="?length={{page_length}}&page={{ page_obj.next_page_number }}">Next Page »</a>
    {% endif %}
</div>

<script type="text/javascript">

$(document).ready(function(){

    // filtering
    $('#geneanalysis_table thead tr').clone(true).addClass('filters').appendTo('#geneanalysis_table thead');

    var href = new URL(window.location.href);

    mytable = $("#geneanalysis_table").DataTable({
        dom: "<'row'<'col-sm-12 col-md-5'B><'col-sm-12 col-md-2'l><'col-sm-12 col-md-5'f>>" + "<'row'<'col-sm-12'tr>>",
        buttons: [
            { extend: 'selectNone', attr: { id: 'custom_selectnone_btn', class: 'btn btn-sm custom-button-color2' } },
            { text: 'Delete', attr: { id: 'custom_geneanalysis_delete_btn', 'data-toggle': 'modal', 'data-target': '#remove_geneanalysis', class: 'btn btn-sm custom-button-color3'}},
            { text: 'Apply filter', attr: { id: 'custom_submit_filter_btn', class: 'btn btn-sm custom-button-color6'},
            action: function( e, dt, button, config ) {
                var href = new URL(window.location.href);
                $("tr.filters input").each(function(){
                    if($(this).val() !== "") {
                        href.searchParams.set($(this).attr("data-tag"), $(this).val());    
                    } else {
                        href.searchParams.delete($(this).attr("data-tag"));
                    }
                });
                window.location = href.href;
            }
            },
            { text: 'Clear filter', attr: { id: 'custom_submit_filter_btn', class: 'btn btn-sm custom-button-color5'},
            action: function( e, dt, button, config ) {
                window.location = "{% url 'analysis_genes_view' project_pk %}?length={{page_length}}";
            }
            },
        ],
        pagingType: "full_numbers",
        lengthMenu: [
            [5, 10, 25, 50],
            [5, 10, 25, 50]
        ],
        pageLength: "{{ page_length }}",
        columnDefs: [{
            orderable: false,
            className: 'select-checkbox select-checkbox-all',
            targets: 0
        },
        {
            targets: 1,
            visible: false,
        }],
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
            $("#geneanalysis_table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");

            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    var data_tag = $(cell).attr("data-tag");
                    var tag_value = href.searchParams.get(data_tag);
                    if (tag_value) {
                        $(cell).html('<input type="text" placeholder="' + title + '" data-tag="' + data_tag + '" value="' + tag_value + '"/>');
                    } else {
                        $(cell).html('<input type="text" placeholder="' + title + '" data-tag="' + data_tag + '"/>');
                    }
                });
        },
    });

    // delete button
    mytable.button("#custom_geneanalysis_delete_btn").enable(false);
    mytable.on("select deselect", function(){
        let selectedRows = mytable.rows({selected: true});
        mytable.button("#custom_geneanalysis_delete_btn").enable(selectedRows.count() > 0);
        let pkval = [];
        $.each(selectedRows.data(), function(i, val){
            if(val[1] !== "") {
                pkval.push(val[1]) // pushing hidden pk value in column 2: index 1
            }
        });
        if(pkval.length <= 0) {
            pkval = "";
        }
        
        $("#geneanalysis_pks").val(pkval);
    });
    $("#custom_geneanalysis_delete_btn").on("click", function(){
        let geneanalysis_pks = $("#geneanalysis_pks").val();
        if (geneanalysis_pks) {
            geneanalysis_pks = geneanalysis_pks.split(',').length;
        } else {
            geneanalysis_pks = geneanalysis_pks.length;
        }
        $('#custom_selected_geneanalysis_count_span').html(geneanalysis_pks);
    });

    $("select[name='geneanalysis_table_length']").on("change", function(){
        // window.location = window.location.href + "&length=" + $(this).val();
        var href = new URL(window.location.href);
        href.searchParams.set('length', $(this).val());
        window.location = href.href;
    });

    
});

</script>