<div class="row">
    <div class="col-md-12">
        <ul class="stepper stepper-vertical">
            <h5><strong>New Gene Specification</strong></h5>
            <li class="active">
                <a href="#!">
                    <span class="circle">1</span>
                    <span class="label">Select Analysis Method</span>
                </a>
                <div class="step-content custom-color-color5 lighten-3 w-50 custom-stepper-div">
                    <div class="input-group">
                        {{formspec.method}}
                        <div class="input-group-append">
                            <button type="button" class="btn btn-link btn-sm px-4" role="group"
                                data-toggle="modal" data-target="#add_method"
                                style="position:absolute;top: 30%; transform: translateY(-50%);"><i
                                    class="fas fa-2x fa-plus"></i></button>
                        </div>
                    </div>
                    <small class="custom-text-color6">Please select an analysis method to add to gene specification</small>
                </div>
            </li>
            <li>
                <a href="#!">
                    <span class="circle">2</span>
                    <span class="label">Select Gene</span>
                </a>
                <div class="step-content custom-color-color5 lighten-3 w-50 custom-stepper-div">
                    <div class="input-group">
                        {{formspec.gene}}
                        <div class="input-group-append">
                            <button type="button" class="btn btn-link btn-sm px-4" role="group"
                                data-toggle="modal" data-target="#add_gene"
                                style="position:absolute;top: 30%; transform: translateY(-50%);"><i
                                    class="fas fa-2x fa-plus"></i></button>
                        </div>
                    </div>
                    <small class="custom-text-color6">Selecting multiple genes apply specifications on each gene separately</small>
                </div>
            </li>
            <li>
                <a href="#!">
                    <span class="circle">3</span>
                    <span class="label">Select Results</span>
                </a>
                <div class="step-content custom-color-color5 lighten-3 w-100 custom-stepper-div">
                    <div class="form-row">
                        <div class="col-7">
                            {% include 'ui_new/admin/attributes/mutation_status_tablist.html' %}
                        </div>
                        <div class="col-4 mt-5 pt-5">
                            {% include 'ui_new/admin/attributes/datapointtypes_select.html' %}
                        </div>
                    </div>
                </div>
            </li>
            <!-- <li>
                <a href="#!">
                    <span class="circle">4</span>
                    <span class="label">Fourth step</span>
                </a>
            </li> -->
        </ul>
    </div>
</div>

<style>
    .stepper-vertical li {
        flex: 1 0 auto;
    }
    .stepper-vertical li .step-content {
        width: 90%;
    }
</style>

<script type="text/javascript">
$(document).ready(function(){
    // select2
    $("#id_method").select2({
        width: "90%",
        placeholder: "Select Analysis Method",
        allowClear: true
    });

    $("#id_gene option[value='']").remove();
    $("#id_gene").select2({
        width: "90%",
        placeholder: "Select Gene",
        allowClear: true,
        closeOnSelect: false
    });

    $(".stepper.stepper-vertical").children("li:not([class])").children(".custom-stepper-div").hide();
    
});
</script>