{% extends "ui_new/base.html" %}
{% load filters %}

{% block title %}
SortChipsetSpecifications - {{title}}
{% endblock %}

{% block body %}

{% include 'ui_new/admin/projects/projects_link.html' %}

{% include 'ui_new/messages.html' %}
<div class="container">
    <div class="row">
        <div class="col-7">
            <ul id="custom_chipsetspec_dpts_list"></ul>
            
            <form method="post" action="{% url 'admin_attributes_confdpt_sort' chipsetspec.pk %}">
                {% csrf_token %}
                <h3>Chipset Specifications</h3>
                <br>
                <ul id="chipsetspec_list" class="list-group">
                    {% for dpt in chipsetspec.confdpts_chipsetspec.all|dpt_exclude_none %}
                        <li data-pk="{{dpt.pk}}" class="list-group-item">{{dpt.datapointtype.name}}</li>
                    {% endfor %}
                </ul>

                <div class="form-group">
                    <input type="hidden" id="confdpt_pks" name="confdpt_pks" value="">
                    <button class="btn custom-button-color4" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){

    HighlightProjectActive("{{project_pk}}");

    $(".return_page").val(window.location.pathname);

    $("#chipsetspec_list li").append("<div class='d-inline float-right'><button type='button' class='chipsetspec_up_btn chipsetspec_sort_btn'><i class='fas fa-arrow-up'></i></button><button type='button' class='chipsetspec_down_btn chipsetspec_sort_btn'><i class='fas fa-arrow-down'></i></button></div>")

    $(".chipsetspec_up_btn").on("click", function(){
        var tmpli = $(this).parents("li");
        var tmpli0 = tmpli.prev();
        $(tmpli).parents("ul").find("li").each(function(){
            $(this).removeClass("active");
        });
        $(tmpli).addClass("active");
        if(tmpli0) {
            tmpli.insertBefore(tmpli0);
        }
    });
    $(".chipsetspec_down_btn").on("click", function(){
        var tmpli = $(this).parents("li");
        var tmpli0 = tmpli.next();
        $(tmpli).parents("ul").find("li").each(function(){
            $(this).removeClass("active");
        });
        $(tmpli).addClass("active");
        if(tmpli0) {
            tmpli.insertAfter(tmpli0);
        }
    });

    $(".chipsetspec_sort_btn").on("click", function(){
        var confdpt_pks = [];
        $("#chipsetspec_list li").each(function(){
            confdpt_pks.push($(this).attr("data-pk"));
        });
        $("#confdpt_pks").val(String(confdpt_pks));
    });

    $("#chipsetspec_list li").on("click", function(){
        $(this).parents("ul").find("li").removeClass("active");
        $(this).addClass("active");
    });


});
</script>
{% endblock %}

