
<ul class="nav nav-tabs" id="project_link" role="navigation">

    {% for project in projects %}
        <li class="nav-item">
            <a class="nav-link btn-light mr-1" href="{% url 'project_view_user' project.pk %}" role="tab" data-project_pk="{{project.pk}}" style="display:inline-block"><strong>{{project.name}}</strong></a>
        </li>
    {% endfor %}

    {% if not project_link_deny %}
    <li class="nav-item ml-auto">
        <a class="nav-link custom-button-color1" href="{% url 'analysis_chipsets_view' project_pk %}" style="display:inline-block;">Chipset Analysis</a>
        <a class="nav-link custom-button-color1" href="{% url 'analysis_genes_view' project_pk %}" style="display:inline-block;">Gene Analysis</a>
        <a class="nav-link custom-button-color1" href="{% url 'samples_view_user' project_pk %}" style="display:inline-block;">Samples</a>
        <a class="nav-link custom-button-color1" href="{% url 'patients_view_user' project_pk %}" style="display:inline-block;">Patients</a>
    </li>
    {% endif %}

</ul>


