{% extends "ui_new/base.html" %}
{% load filters %}

{% block title %}
Projects - {{title}}
{% endblock %}

{% block body %}

{% include 'ui_new/user/projects/projects_link.html' %}

{% include 'ui_new/messages.html' %}
<h2>Query Page - {% if analysis_type == 'chipset' %}Chipset Analysis{% else %}Gene Analysis{% endif %}</h2>
<div class="container-fluid">

    <table id="analysis_table" class="table table-bordered table-sm table-striped" cellspacing="0" width="100%">
        {% if geneanalyses %}
        <thead>
            <tr>
                <th class="th-sm">Project</th>
                
                <th class="th-sm">Patient ID</th>
                <th class="th-sm">First Name</th>
                <th class="th-sm">Last Name</th>
                <th class="th-sm">Date of Birth</th>
                {% for patientdpt in patientdpts|dpt_exclude_none %}
                    <th class="th-sm">Patient_{{patientdpt.datapointtype.name}}</th>
                {% endfor %}

                
                <th class="th-sm">Sample</th>
                {% for sampledpt in sampledpts|dpt_exclude_none %}
                <th class="th-sm">Sample_{{sampledpt.datapointtype.name}}</th>
                {% endfor %}
                
                <th class="th-sm">Method</th>
                <th class="th-sm">Gene</th>
                <th class="th-sm">Result</th>
                {% for datapointtype in datapointtypes|dpt_exclude_none2 %}
                <th class="th-sm">{{datapointtype.name}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for geneanalysis in geneanalyses %}
                {% for datapointsrow in geneanalysis.datapointsrows.all %}
                    {% with sample=geneanalysis.sample projectid=geneanalysis.sample.projectid %}
                    <tr>
                        <td><a href="{% url 'patients_view_user' geneanalysis.sample.projectid.project_id %}" class="btn-link text-primary">{{geneanalysis.sample.projectid.project.name}}</a></td>

                        <td>{{'patient'|set_icons}}<a class="btn-link text-primary" href="{% url 'patient_view_user' geneanalysis.sample.projectid_id %}"><u>{{projectid.projectid}}</u></a></td>

                        <td>{{projectid.patient.firstname}}</td>
                        <td>{{projectid.patient.lastname}}</td>
                        <td>{{projectid.patient.get_dateofbirth}}</td>
                        
                        {% for patientdpt in patientdpts|dpt_exclude_none %}
                            <td>{{patientdpt|patientdpt_extract:projectid.pk}}</td>  
                        {% endfor %}

                        <td>{{'sample'|set_icons}}<a class="btn-link text-primary" href="{% url 'sample_view_user' geneanalysis.sample_id %}"><u>{{geneanalysis.sample.get_samplename}}</u></a></td>

                        {% for sampledpt in sampledpts|dpt_exclude_none %}
                            <td>{{sampledpt|sampledpt_extract:projectid.pk}}</td>  
                        {% endfor %}

                        <td>{{geneanalysis.specification.method}}</td>
                        <td>{{geneanalysis.specification.gene}}</td>
                        <td>{{geneanalysis.specification.status}}</td>

                        {% for datapointtype in datapointtypes|dpt_exclude_none2 %}
                            {{datapointsrow.datapoints.all|dpt_filter:datapointtype.pk}}
                        {% endfor %}
                    </tr>
                    {% endwith %}
                {% endfor %}
            {% endfor %}
        </tbody>
        {% else %}
        <thead>
            <tr>
                <th class="th-sm">Project</th>

                <th class="th-sm">Patient ID</th>
                <th class="th-sm">First Name</th>
                <th class="th-sm">Last Name</th>
                <th class="th-sm">Date of Birth</th>
                {% for patientdpt in patientdpts|dpt_exclude_none %}
                    <th class="th-sm">Patient_{{patientdpt.datapointtype.name}}</th>
                {% endfor %}

                <th class="th-sm">Sample</th>
                {% for sampledpt in sampledpts|dpt_exclude_none %}
                <th class="th-sm">Sample_{{sampledpt.datapointtype.name}}</th>
                {% endfor %}

                <th class="th-sm">Chipset</th>
                <th class="th-sm">Genes</th>
                {% for datapointtype in datapointtypes|dpt_exclude_none2 %}
                <th class="th-sm">{{datapointtype.name}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for chipsetanalysis in chipsetanalyses %}
                {% for gene in chipsetanalysis.chipsetspec.genes.all %}
                    {% with sample=chipsetanalysis.sample projectid=chipsetanalysis.sample.projectid %}
                    <tr>
                        <td><a href="{% url 'patients_view_user' chipsetanalysis.sample.projectid.project_id %}" class="btn-link text-primary">{{chipsetanalysis.sample.projectid.project.name}}</a></td>

                        <td>{{'patient'|set_icons}}<a class="btn-link text-primary" href="{% url 'patient_view_user' sample.projectid_id %}"><u>{{sample.projectid.projectid}}</u></a></td>

                        <td>{{projectid.patient.firstname}}</td>
                        <td>{{projectid.patient.lastname}}</td>
                        <td>{{projectid.patient.get_dateofbirth}}</td>

                        {% for patientdpt in patientdpts|dpt_exclude_none %}
                            <td>{{patientdpt|patientdpt_extract:projectid.pk}}</td>  
                        {% endfor %}

                        <td>{{'sample'|set_icons}}<a class="btn-link text-primary" href="{% url 'sample_view_user' sample.id %}"><u>{{sample.get_samplename}}</u></a></td>
                        
                        {% for sampledpt in sampledpts|dpt_exclude_none %}
                            <th class="th-sm">Sample_{{sampledpt.datapointtype.name}}</th>
                        {% endfor %}
                        

                        <!-- <td>{{chipsetanalysis.chipsetspec.name}}</td> -->
                        <td>{{chipsetanalysis.chipsetspec.get_name}}</td>
                        <td>{{gene}}</td>
                        {% for datapointtype in datapointtypes|dpt_exclude_none2 %}
                            {{chipsetanalysis.datapoints.all|dpt_filter:datapointtype.pk}}
                        {% endfor %}
                    </tr>
                    {% endwith %}
                {% endfor %}
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>




<script type="text/javascript">
$(document).ready(function(){
    
    var redirect_id = ProjectRedirectFunc("{{project_redirect}}", "{{first_project_id}}");
    if(redirect_id) {
        window.location.href = "{% url 'projects_view_user' %}/" + redirect_id + "/patients";
    }

    // filtering
    $('#analysis_table thead tr').clone(true).addClass('filters').appendTo('#analysis_table thead');


    mytable = $("#analysis_table").DataTable({
        dom: "<'row'<'col-sm-12 col-md-5'B><'col-sm-12 col-md-2'l><'col-sm-12 col-md-5'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        buttons: [
            { 
            text: 'Gene Analysis', 
            attr: {id: 'custom_geneanalysis_btn', class: 'btn btn-sm custom-button-color1'},
            action: function ( e, dt, button, config ) {
                window.location = "{% url 'projects_view_user' %}?project_redirect=false&type=gene";
            }
            },
            { text: 'Chipset Analysis', attr: { id: 'custom_chipsetanalysis_btn', class: 'btn btn-sm custom-button-color1'},
            action: function ( e, dt, button, config ) {
                window.location = "{% url 'projects_view_user' %}?project_redirect=false&type=chipset";
            }
            },
            { text: 'TSV Export', fieldBoundary: '', title: "{{analysis_type}}" + '_analysis', extend: 'csvHtml5', fieldSeparator: '\t', extension: '.tsv', attr: { class: 'btn btn-sm custom-button-color2' }},
        ],
        pagingType: "full_numbers",
        lengthMenu: [
            [10, 25, 50, -1],
            [10, 25, 50, "All"]
        ],
        columnDefs: [
        {"className": "text-center", "targets": "_all"}
        ],
        // select: {
        //     style: 'multi',
        //     selector: 'td:first-child'
        // },
        select: false,
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function (settings, json) {  
                        $("#analysis_table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");       
                        
                        // new
                        var api = this.api();
            
                        // For each column
                        api
                            .columns()
                            .eq(0)
                            .each(function (colIdx) {
                                // Set the header cell to contain the input element
                                var cell = $('.filters th').eq(
                                    $(api.column(colIdx).header()).index()
                                );
                                var title = $(cell).text();
                                $(cell).html('<input type="text" placeholder="' + title + '" />');
            
                                // On every keypress in this input
                                $(
                                    'input',
                                    $('.filters th').eq($(api.column(colIdx).header()).index())
                                )
                                    .off('keyup change')
                                    .on('keyup change', function (e) {
                                        e.stopPropagation();
            
                                        // Get the search value
                                        $(this).attr('title', $(this).val());
                                        var regexr = '({search})'; //$(this).parents('th').find('select').val();
            
                                        var cursorPosition = this.selectionStart;
                                        // Search the column for that value
                                        api
                                            .column(colIdx)
                                            .search(
                                                this.value != ''
                                                    ? regexr.replace('{search}', '(((' + this.value + ')))')
                                                    : '',
                                                this.value != '',
                                                this.value == ''
                                            )
                                            .draw();
            
                                        $(this)
                                            .focus()[0]
                                            .setSelectionRange(cursorPosition, cursorPosition);
                                    });
                            });
                        // new
                    },
    });


   
});
</script>

{% endblock %}