{% extends "ui_new/base.html" %}
{% load filters %}

{% block title %}
Projects - {{title}}
{% endblock %}

{% block body %}


{% include 'ui_new/messages.html' %}
<h2>Query Page - {% if analysis_type == 'chipset' %}Chipset Analysis{% else %}Gene Analysis{% endif %}</h2>
<div class="container-fluid">

    <table id="analysis_table" class="table table-bordered table-sm table-striped" cellspacing="0" width="100%">
        {% if analysis_type == 'gene' %}
        <thead>
            <tr>
                <th class="th-sm" data-tag="tag.project.name">Project</th>
                
                <th class="th-sm" data-tag="tag.projectid.projectid">Patient ID</th>
                <th class="th-sm" data-tag="tag.patient.firstname">First Name</th>
                <th class="th-sm" data-tag="tag.patient.lastname">Last Name</th>
                <th class="th-sm" data-tag="tag.patient.dateofbirth">Date of Birth</th>
                {% for patientdpt in patientdpts|dpt_exclude_none %}
                    <th class="th-sm" data-tag="tag.patientdpt.{{patientdpt.pk}}">Patient_{{patientdpt.datapointtype.name}}</th>
                {% endfor %}

                
                <th class="th-sm" data-tag="tag.geneanalysis.sample">Sample</th>
                {% for sampledpt in sampledpts|dpt_exclude_none %}
                <th class="th-sm" data-tag="tag.sampledpt.{{sampledpt.pk}}">Sample_{{sampledpt.datapointtype.name}}</th>
                {% endfor %}
                
                <th class="th-sm" data-tag="tag.specification.method">Method</th>
                <th class="th-sm" data-tag="tag.specification.gene">Gene</th>
                <th class="th-sm" data-tag="tag.specification.status">Result</th>
                {% for datapointtype in datapointtypes|dpt_exclude_none2 %}
                <th class="th-sm" data-tag="tag.datapointtype.{{datapointtype.pk}}">{{datapointtype.name}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for datapointsrow in page_obj %}
                {% with geneanalysis=datapointsrow.geneanalysis_datapointsrows.first %}
                    {% with sample=geneanalysis.sample projectid=geneanalysis.sample.projectid %}
                        <tr>
                            <td><a href="{% url 'patients_view_user' geneanalysis.sample.projectid.project_id %}" class="btn-link text-primary">{{geneanalysis.sample.projectid.project.name}}</a></td>

                            <td>{{'patient'|set_icons}}<a class="btn-link text-primary" href="{% url 'patient_view_user' geneanalysis.sample.projectid_id %}"><u>{{projectid.projectid}}</u></a></td>
    
                            <td>{{projectid.patient.firstname}}</td>
                            <td>{{projectid.patient.lastname}}</td>
                            <td>{{projectid.patient.get_dateofbirth}}</td>
                            
                            {% for patientdpt in patientdpts|dpt_exclude_none %}
                                <td>{{patientdpt|patientdpt_extract:projectid.pk}}</td>  
                            {% endfor %}
    
                            <td>{{'sample'|set_icons}}<a class="btn-link text-primary" href="{% url 'sample_view_user' geneanalysis.sample_id %}"><u>{{geneanalysis.sample.get_samplename}}</u></a></td>
    
                            {% for sampledpt in sampledpts|dpt_exclude_none %}
                                <td>{{sampledpt|sampledpt_extract:projectid.pk}}</td>  
                            {% endfor %}
    
                            <td>{{geneanalysis.specification.method}}</td>
                            <td>{{geneanalysis.specification.gene}}</td>
                            <td>{{geneanalysis.specification.status}}</td>
    
                            {% for datapointtype in datapointtypes|dpt_exclude_none2 %}
                                {{datapointsrow.datapoints.all|dpt_filter:datapointtype.pk}}
                            {% endfor %}
                        </tr>
                    {% endwith %}
                {% endwith %}
            {% endfor %}
        </tbody>
        {% else %}
        <thead>
            <tr>
                <th class="th-sm" data-tag="tag.project.name">Project</th>

                <th class="th-sm" data-tag="tag.projectid.projectid">Patient ID</th>
                <th class="th-sm" data-tag="tag.patient.firstname">First Name</th>
                <th class="th-sm" data-tag="tag.patient.lastname">Last Name</th>
                <th class="th-sm" data-tag="tag.patient.dateofbirth">Date of Birth</th>
                {% for patientdpt in patientdpts|dpt_exclude_none %}
                    <th class="th-sm" data-tag="tag.patientdpt.{{patientdpt.pk}}">Patient_{{patientdpt.datapointtype.name}}</th>
                {% endfor %}

                <th class="th-sm" data-tag="tag.chipsetanalysis.sample">Sample</th>
                {% for sampledpt in sampledpts|dpt_exclude_none %}
                <th class="th-sm" data-tag="tag.sampledpt.{{sampledpt.pk}}">Sample_{{sampledpt.datapointtype.name}}</th>
                {% endfor %}

                <th class="th-sm" data-tag="tag.specification.name">Chipset</th>
                <th class="th-sm" data-tag="tag.specification.genes">Genes</th>
                {% for datapointtype in datapointtypes|dpt_exclude_none2 %}
                <th class="th-sm" data-tag="tag.datapointtype.{{datapointtype.pk}}">{{datapointtype.name}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for datapointsrow in page_obj %}
                {% with chipsetanalysis=datapointsrow.chipsetanalysis_datapointsrows.first %}
                    {% with sample=chipsetanalysis.sample projectid=chipsetanalysis.sample.projectid %}
                    <tr>
                        <td><a href="{% url 'patients_view_user' chipsetanalysis.sample.projectid.project_id %}" class="btn-link text-primary">{{chipsetanalysis.sample.projectid.project.name}}</a></td>

                        <td>{{'patient'|set_icons}}<a class="btn-link text-primary" href="{% url 'patient_view_user' sample.projectid_id %}"><u>{{sample.projectid.projectid}}</u></a></td>

                        <td>{{projectid.patient.firstname}}</td>
                        <td>{{projectid.patient.lastname}}</td>
                        <td>{{projectid.patient.get_dateofbirth}}</td>

                        {% for patientdpt in patientdpts|dpt_exclude_none %}
                            <td>{{patientdpt|patientdpt_extract:projectid.pk}}</td>  
                        {% endfor %}

                        <td>{{'sample'|set_icons}}<a class="btn-link text-primary" href="{% url 'sample_view_user' sample.id %}"><u>{{sample.get_samplename}}</u></a></td>
                        
                        {% for sampledpt in sampledpts|dpt_exclude_none %}
                            <td>{{sampledpt|sampledpt_extract:projectid.pk}}</td>
                        {% endfor %}

                        <td>{{chipsetanalysis.chipsetspec.get_name}}</td>
                        <td>{{datapointsrow.gene.name}}</td>
                        {% for datapointtype in datapointtypes|dpt_exclude_none2 %}
                            {{datapointsrow.datapoints.all|cdpt_filter:datapointtype.pk}}
                        {% endfor %}
                    </tr>
                    {% endwith %}
                {% endwith %}
            {% endfor %}
        </tbody>
        {% endif %}
    </table>

    {% include 'ui_new/pagination.html' %}
  
</div>


<script type="text/javascript">
$(document).ready(function(){
    
    var redirect_id = ProjectRedirectFunc("{{project_redirect}}", "{{first_project_id}}");
    if(redirect_id) {
        window.location.href = "{% url 'projects_view_user' %}/" + redirect_id + "/patients";
    }

    // filtering
    $('#analysis_table thead tr').clone(true).addClass('filters').appendTo('#analysis_table thead');

    var href = new URL(window.location.href);

    mytable = $("#analysis_table").DataTable({
        // dom: "<'row'<'col-sm-12 col-md-5'B><'col-sm-12 col-md-2'l><'col-sm-12 col-md-5'f>>" + "<'row'<'col-sm-12'tr>>",
        dom: "<'row'<'col-sm-12 col-md-5'B><'col-sm-12 col-md-2'l><'col-sm-12 col-md-5'f>>" + "<'row'<'col-sm-12'tr>>",
        buttons: [
            { 
            text: 'Gene Analysis', 
            attr: {id: 'custom_geneanalysis_btn', class: 'btn btn-sm custom-button-color1'},
            action: function ( e, dt, button, config ) {
                window.location = "{% url 'projects_view_user' %}?project_redirect=false&type=gene";
            }
            },
            { text: 'Chipset Analysis', attr: { id: 'custom_chipsetanalysis_btn', class: 'btn btn-sm custom-button-color1'},
            action: function ( e, dt, button, config ) {
                window.location = "{% url 'projects_view_user' %}?project_redirect=false&type=chipset";
            }
            },
            { text: 'Apply filter', attr: { id: 'custom_submit_filter_btn', class: 'btn btn-sm custom-button-color6'},
            action: function( e, dt, button, config ) {
                var href = new URL(window.location.href);
                $("tr.filters input").each(function(){
                    if($(this).val() !== "") {
                        href.searchParams.set($(this).attr("data-tag"), $(this).val());    
                    } else {
                        href.searchParams.delete($(this).attr("data-tag"));
                    }
                });
                window.location = href.href;
            }
            },
            { text: 'Clear filter', attr: { id: 'custom_submit_filter_btn', class: 'btn btn-sm custom-button-color5'},
            action: function( e, dt, button, config ) {
                window.location = "{% url 'projects_view_user' %}?project_redirect={{project_redirect}}&type={{analysis_type}}&length={{page_length}}";
            }
            },
            { text: 'TSV Export', fieldBoundary: '', title: "{{analysis_type}}" + '_analysis', extend: 'csvHtml5', fieldSeparator: '\t', extension: '.tsv', attr: { class: 'btn btn-sm custom-button-color2' }},
            { text: 'Export All', attr: { class: 'btn btn-sm custom-button-color2' },
            action: function (e, dt, button, config) {
                if("{{analysis_type}}" == "chipset") {
                    window.location = "{% url 'queries_chipset_user' %}";
                } else {
                    window.location = "{% url 'queries_gene_user' %}";
                }
            }
            },
        ],
        pagingType: "full_numbers",
        lengthMenu: [
            // [10, 25, 50, -1],
            // [10, 25, 50, "All"]
            [5, 10, 25, 50],
            [5, 10, 25, 50]
        ],
        pageLength: "{{ page_length }}",
        columnDefs: [
        {"className": "text-center", "targets": "_all"}
        ],
        // select: {
        //     style: 'multi',
        //     selector: 'td:first-child'
        // },
        select: false,
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function (settings, json) {  
                        $("#analysis_table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");       
                        
                        // new
                        var api = this.api();
            
                        // For each column
                        api
                            .columns()
                            .eq(0)
                            .each(function (colIdx) {
                                // Set the header cell to contain the input element
                                var cell = $('.filters th').eq(
                                    $(api.column(colIdx).header()).index()
                                );
                                var title = $(cell).text();
                                var data_tag = $(cell).attr("data-tag");
                                // $(cell).html('<input type="text" placeholder="' + title + '" data-tag="' + data_tag + '"/>');
                                var tag_value = href.searchParams.get(data_tag);
                                if (tag_value) {
                                    $(cell).html('<input type="text" placeholder="' + title + '" data-tag="' + data_tag + '" value="' + tag_value + '" style="background-color:yellow;"/>');
                                } else {
                                    $(cell).html('<input type="text" placeholder="' + title + '" data-tag="' + data_tag + '"/>');
                                }
            
                            });
                        // new
                    },
    });

    $("select[name='analysis_table_length']").on("change", function(){
        // window.location = window.location.href + "&length=" + $(this).val();
        var href = new URL(window.location.href);
        href.searchParams.set('length', $(this).val());
        window.location = href.href;
    });

   
});
</script>

{% endblock %}