{% load filters %}
<!-- <div class="custom-control custom-switch mb-2">
    <div class="float-right">
        <input type="checkbox" class="custom-control-input" id="custom_project_patient_switch" checked>
        <label class="custom-control-label" for="custom_project_patient_switch">Project Specific</label>
    </div>
</div> -->
<table id="patients_table" class="table table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm"></th>
            <th class="th-sm">pk</th>
            <!-- <th class="th-sm" data-name="id_projectid">Project Specific ID</th> -->
            <th class="th-sm" data-name="id_projectid" data-toggle="tooltip" title="Patient ID specific to the current project" data-tag="tag.projectid.projectid">Patient ID</th>
            <th class="th-sm" data-name="id_firstname" data-tag="tag.patient.firstname">First Name</th>
            <th class="th-sm" data-name="id_lastname" data-tag="tag.patient.lastname">Last Name</th>
            <th class="th-sm" data-name="id_dateofbirth" data-tag="tag.patient.dateofbirth">Date of Birth</th>
            <th class="th-sm" data-name="id_otherid" data-toggle="tooltip" title="Patient ID from other projects" data-tag="tag.projectid.otherids">Other IDs</th>
            {% for patientdpt in last_projectid.patientinfo.patientspec.patientdpts_patientspec.all|dpt_exclude_none %}
                <th class="th-sm" data-name="id_patientdpt_{{patientdpt.pk}}" data-tag="tag.patientdpt.{{patientdpt.pk}}">{{patientdpt.datapointtype.name}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for projectid in page_obj %}
        <tr>
            <td></td>
            <td>{{projectid.pk}}</td>
            <td>
                {{'patient'|set_icons}}
                <a class="btn-link text-primary" href="{% url 'patient_view_user' projectid.pk %}">
                    {{projectid.projectid}}
                </a>
            </td>
            <td>{{projectid.patient.firstname}}</td>
            <td>{{projectid.patient.lastname}}</td>
            <td>{{projectid.patient.get_dateofbirth}}</td>
            <td>
                {% with projectid.patient.projectid_patient.all|patient_projectid_link_exclude:project_pk as pids %}
                    {% for pid in pids %}
                        {{'patient'|set_icons}}<a href="{% url 'patient_view_user' pid.pk %}" class="btn-link text-primary"><u>{{pid.projectid}}</u></a>(<a href="{% url 'patients_view_user' pid.project_id %}" class="btn-link text-primary">{{pid.project.name}}</a>)<br>
                    {% endfor %}
                {% endwith %}
            </td>
            {% for datapoint in projectid.patientinfo.datapoints.all %}
                <td>{{datapoint.value}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    <!-- <tfoot>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Project ID</th>
            <th>Other IDs</th>
        </tr>
    </tfoot> -->
</table>

{% include 'ui_new/pagination.html' %}

<!-- <style>
    #custom_project_patient_switch:checked+.custom-control-label::before {
    background-color: red;
    border: red;

}
</style> -->

<script>
$(document).ready(function(){

    // filtering
    $("#patients_table thead tr").clone(true).addClass("filters").appendTo("#patients_table thead");

    var href = new URL(window.location.href);

    mytable = $("#patients_table").DataTable({
        // dom: 'Bfrtip',
        dom: "<'row'<'col-sm-12 col-md-5'B><'col-sm-12 col-md-2'l><'col-sm-12 col-md-5'f>>" + "<'row'<'col-sm-12'tr>>",
        buttons: [
            { extend: 'selectNone', attr: { id: 'custom_selectnone_btn', class: 'btn btn-sm custom-button-color2' } },
            // { extend: 'csvHtml5', attr: { class: 'btn btn-sm custom-button-color2' } },
            { text: 'Delete', attr: { id: 'custom_patient_delete_btn', 'data-toggle': 'modal', 'data-target': '#remove_patients', class: 'btn btn-sm custom-button-color3'}},
            { text: 'Apply filter', attr: { id: 'custom_submit_filter_btn', class: 'btn btn-sm custom-button-color6'},
            action: function( e, dt, button, config ) {
                var href = new URL(window.location.href);
                $("tr.filters input").each(function(){
                    if($(this).val() !== "") {
                        href.searchParams.set($(this).attr("data-tag"), $(this).val());    
                    } else {
                        href.searchParams.delete($(this).attr("data-tag"));
                    }
                });
                window.location = href.href;
            }
            },
            { text: 'Clear filter', attr: { id: 'custom_submit_filter_btn', class: 'btn btn-sm custom-button-color5'},
            action: function( e, dt, button, config ) {
                window.location = "{% url 'patients_view_user' project_pk %}?length={{page_length}}";
            }
            },
        ],
        pagingType: "full_numbers",
        lengthMenu: [
            [5, 10, 25, 50],
            [5, 10, 25, 50]
        ],
        pageLength: "{{page_length}}",
        columnDefs: [
            {
            orderable: false,
            className: 'select-checkbox select-checkbox-all',
            targets: 0
        },
        {
            targets: 1,
            visible: false,
        }],
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
            $("#patients_table").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");

            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    var data_tag = $(cell).attr("data-tag");
                    var tag_value = href.searchParams.get(data_tag);
                    if (tag_value) {
                        $(cell).html('<input type="text" placeholder="' + title + '" data-tag="' + data_tag + '" value="' + tag_value + '"/>');
                    } else {
                        $(cell).html('<input type="text" placeholder="' + title + '" data-tag="' + data_tag + '"/>');
                    }
                });
        },

    });

    // delete button
    mytable.button("#custom_patient_delete_btn").enable(false);
    mytable.on("select deselect", function(){
        let selectedRows = mytable.rows({selected: true});
        mytable.button("#custom_patient_delete_btn").enable(selectedRows.count() > 0);
        let pkval = [];
        $.each(selectedRows.data(), function(i, val){
            if(val[1] !== "") {
                pkval.push(val[1]) // pushing hidden pk value in column 2: index 1
            }
        });
        if(pkval.length <= 0) {
            pkval = "";
        }
        
        $("#projectid_pks").val(pkval);
    });
    $("#custom_patient_delete_btn").on("click", function(){
        let projectid_pks = $("#projectid_pks").val();
        if (projectid_pks) {
            projectid_pks = projectid_pks.split(',').length;
        } else {
            projectid_pks = projectid_pks.length;
        }
        $('#custom_selected_patients_count_span').html(projectid_pks);
    });


    // search query
    let searcharray = ["id_firstname", "id_lastname", "id_dateofbirth", "id_projectid"];
    $.each(searcharray, function(i, val) {
        $("#" + val).on("change input", function(){
            let searchvar = $(this).val();

            mytable.columns(
                $("#patients_table").find("th[data-name='" + val + "']").index() + 1 // considering hidden pk column
            ).search(searchvar).draw();
        });
    });

    // add patients
    $("#custompat_add_patient_btn").on("click", function(){

        

        let displayrows = mytable.page.info().recordsDisplay;
        if (displayrows > 0) {
            for(let i=0; i<searcharray.length; i++){
                if(searcharray[i] == "id_projectid") {
                    continue;
                }
                if($("#" + searcharray[i]).val().length <= 0) {
                    alert("Please enter requierd fields")
                    return;
                }
            }
            alert("Patient already exist!");
            return;
        } else {
            $("#custompat_add_patient_btn2").prop("disabled", false).click();
        }
    });

    // project specific patients
    // mytable.columns(
    //     $("#patients_table").find("th[data-name='id_projectid']").index() + 1 // considering pk
    // ).search( '^(?!\s*$).+', true, false ).draw();
    // $("#custom_project_patient_switch").on("click", function(){
    //     if($(this).prop("checked")) {
    //         mytable.columns(
    //             $("#patients_table").find("th[data-name='id_projectid']").index() + 1 // considering pk
    //             ).search( '^(?!\s*$).+', true, false ).draw();
    //         } else {
    //         mytable.columns(
    //             $("#patients_table").find("th[data-name='id_projectid']").index() + 1 // considering pk
    //         ).search('').draw();
    //     }
    // });

    // // projectid anchor
    // $("#patients_table tbody a[href='#'").on("click", function(){
    //     alert("Selected patient is not registered to current project");
    //     return;
    // });

    $("select[name='patients_table_length']").on("change", function(){
        // window.location = window.location.href + "&length=" + $(this).val();
        var href = new URL(window.location.href);
        href.searchParams.set('length', $(this).val());
        window.location = href.href;
    });

});
</script>