{% load crispy_forms_tags %}

<h4 class='mb-3'>Register Patient</h4>

<form method="post" action="{% url 'patients_add_remove' project_pk %}">
    {% csrf_token %}
    {# {{formpatient | crispy}} #}
    {{formpatient.firstname | as_crispy_field}}
    {{formpatient.lastname | as_crispy_field}}

    <div id="div_id_dateofbirth" class="form-group"> <label for="id_dateofbirth" class=" requiredField">
        Date of Birth<span class="asteriskField">*</span> </label> <div class="">
            <!-- <input type="date" name="dateofbirth" placeholder="YYYY-MM-DD" class="dateinput form-control" required="" id="id_dateofbirth" > -->
            <!-- <input type="text" name="dateofbirth" placeholder="DD/MM/YYYY" class="dateinput form-control" required="" id="id_dateofbirth" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}"> -->
            <input type="text" name="dateofbirth" placeholder="DD/MM/YYYY" class="dateinput form-control" required="" id="id_dateofbirth" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}">
            
        </div> 
    </div>

    <div class="form-group">
        {{formprojectid.projectid | as_crispy_field}}
        <small class="red-text">If project id is not specified, an unique id is assigned automatically</small>
    </div>

    <div class="form-group">
        {% include 'ui_new/user/patients/patientspec_form.html' %}
        <input type="hidden" id="custompat_pks" name="custompat_pks" value="[]">
    </div>



    <input type="hidden" name="return_page" class="return_page" value="">
    <input type="hidden" name="access_type" value="add">
    <button type="button" class="btn btn-sm custom-button-color1" id="custompat_add_patient_btn">Submit</button>
    <button id="custompat_add_patient_btn2" type="submit" style="display:none;" disabled></button>
</form>